*{
    padding: 0;
    margin: 0;
  }
  
  .display {
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    width: 400px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    margin: auto;
    border: 1px solid black; /* Added border color */
  }